<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()">

    <title>Pokedex DB</title>

    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap" as="style">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
<header class="header-bg fadeIn" aria-label="Encabezado">
    <div class="header container">
        <a href="/pokedex/" class="logo">
            <img src="/img/header.jpg" width="32" height="32" alt="Logo Pokeball">
        </a>

        <label for="search">
            <input type="text" placeholder="Buscar Pokémon" id="search" name="search">
        </label>

        <nav aria-label="Principal">
            <ul class="header-menu">
                <li><a href="/pokedex/">Inicio</a></li>
                <li><a href="/pokedex/pokemon/1">Pokemons</a></li>
            </ul>
        </nav>
    </div>
</header>

<main class="content">
    <h1 class="titulo">Lista de Pokemons</h1>
    <ol id="pokemonList" class="pokemons"></ol>
    <ul class="pokemons">
        <li th:each="pokemon : ${pokemons}" class="fadeIn">
            <a th:href="@{'pokemon/' + ${pokemon.id}}" class="pokemon">
                <span class="number" th:text="'#' + ${pokemon.id}"></span>
                <h2 class="name" th:text="${pokemon.name}"></h2>
                <div class="detail">
                    <ol class="types">
                        <li th:each="pType : ${pokemon.types}"
                            th:text="${pType.type.name}"
                            th:classappend="'type ' + ${pType.type.name}">
                        </li>
                    </ol>
                    <img th:src="${pokemon.photo}" th:alt="${pokemon.name}" width="156" height="144" class="slideInRight">
                </div>
            </a>
        </li>
    </ul>

    <div class="pagination fadeIn">
        <ul class="pagination-list">
            <li th:if="${currentPage > 1}">
                <a th:href="@{'/pokedex/?page=1'}" class="small-button">Inicio</a>
            </li>

            <li th:each="i : ${#numbers.sequence(startPage, endPage)}">
                <a th:href="@{'/pokedex/?page=' + ${i}}"
                   th:text="${i}"
                   th:classappend="${i == currentPage} ? ' active' : ''"></a>
            </li>
            <li th:if="${endPage < totalPages}">
                <a th:href="@{'/pokedex/?page=' + ${totalPages}}" class="small-button">Último</a>
            </li>
        </ul>
    </div>

</main>

<footer class="footer container fadeIn" aria-label="Pie de página">
    <h3>Creado por: <a href="https://www.instagram.com/diego.ab7/" target="_blank">@diego.ab7</a>.</h3>
</footer>
<button id="scrollToBottom" class="scroll-button">&#8595;</button>

<script src="/js/main.js"></script>
</body>

</html>